:root {
  --countdown-timer-font: "Rowdies", cursive;
  --primary-font: "Permanent Marker", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background: #16222a;
  background: -webkit-linear-gradient(to right, #3a6073, #16222a);
  background: linear-gradient(to right, #3a6073, #16222a);
}

#header {
  font-family: var(--primary-font);
  font-size: 4rem;
}

#birthday-countdown {
  font-family: var(--countdown-timer-font);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 20em);
  grid-template-rows: repeat(2, auto);
  grid-gap: 5px;
  justify-content: center;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-number {
  font-size: 5rem;
}

.countdown-text {
  font-size: 2em;
}

#countdown-header-text {
  font-size: 3em;
}

#countdown-header-image {
  font-size: 4em;
}

footer {
  margin-top: 20px;
  font-family: var(--countdown-timer-font);
}
