#header {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 20em);
  grid-template-rows: repeat(2, auto);
  grid-gap: 5px;
  border: 1px dashed red;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
}

.countdown-number {
  font-family: "Press Start 2P", cursive;
  font-size: 8rem;
}

.countdown-text {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}
