#header {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 10em);
  grid-template-rows: repeat(2, auto);
  grid-gap: 5px;
  border: 1px dashed red;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
}
